



div.caption {
    background: transparent;
    color: #fff;
    position: absolute;
    top: 44%; /* NEW */
    text-align: center;
    line-height: 100%;
    z-index: -1;
    width: 100%;
}

div.caption p {
  text-align: center;
  width:100%;
  display: block;
  font-family: 'Cuprumffu', sans-serif;
  font-size:18px; /* NEW */
}
 /* NEW */
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
   .customGallery .fancybox-prev span {
    background: transparent url(images/arrow-prev@2x.png) no-repeat left;
    background-size: 33px 62px;
}
    .customGallery .fancybox-next span {
    background: transparent url(images/arrow-next@2x.png) no-repeat left;
    background-size: 33px 62px;
}
    .customGallery .fancybox-close span {
    background: url(images/arrow-back-to-gallery@2x.png) no-repeat left;
    background-size: 12px 21px;
}
/* END NEW */
}
@media only screen 
and (min-device-width : 641px) 
and (max-device-width : 1024px)  {
 .grid-sizer,  .grid-item {
width: 48%;
margin-bottom: 4%;
}
 .gutter-sizer {
width: 4%;
}
#filters {width:48%;} /* NEW */
}
 @media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
 .grid-sizer,  .grid-item {
width: 48%;
margin-bottom: 4%;
}
 .gutter-sizer {
width: 4%;
}
#filters {width:48%;} /* NEW */
}
